.auth-form {
	padding-top: 256px;
	padding-left: 121px;
	background-color: white;
	width: 55%;
	height: 100%;

	&__input-error {
		border: 1px solid #fb6262;
		box-sizing: border-box;
		border-radius: 8px;

		&:focus {
			border: 1px solid #fb6262;
		}
	}

	&__button {
		margin-top: 16px;
	}

	&__logo {
		margin-bottom: 16px;
	}
}

@media screen and (min-width: 1441px) {
	.auth-form {
		width: 75%;
	}
}
