.auth-form {
	margin-top: 32px;
	margin-left: 32px;

	&__input-error {
		border: 1px solid #fb6262;
		box-sizing: border-box;
		border-radius: 8px;
		&:focus {
			border: 1px solid #fb6262;
		}
	}

	&__button {
		margin-top: 16px;
	}
}
